/* Beginning of services.html CSS */

.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.servicesHeaderImg{
    margin: 65px 0px 30px 0px;
}

h2 {
    font-size: 2.8rem;
    text-align: left;
}

.topServices {
    margin-bottom: 40px;
}

.midServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.textbox {
    border: 1px solid black;
    background-color: whitesmoke;
    width: 47.8%;
    padding: 20px;
    padding-right: 25px;
    margin-bottom: 45px;
}

.servicesButton {
    border: 1px solid black;
    padding: 10px;
    width: 140px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.bottomServices {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.bottomLeftServices {
    width: 45%;
}

li {
    list-style-type: square;
    margin: 15px 0 15px 20px;
    font-size: 1.6rem;
    text-align: left;
}

footer p{
    font-size: 1.6rem;
}

